<mat-grid-list cols="4">
	<mat-grid-tile>
		<app-gauge 
			[value]="21" 
			[label]="'Temperatura'"
			[appendText]="'°C'">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="21" 
			[label]="'Temperatura do Solo'"
			[appendText]="'°C'">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="13" 
			[label]="'Umidade'"
			[appendText]="'g/Kg'">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="12" 
			[label]="'Umidade do Solo'"
			[appendText]="'g/Kg'">
		</app-gauge>
	</mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2">
	<mat-grid-tile>
		<div style="width: 100%; height: 100%"><ngx-line-chart [dataSets]="DataSetTemp" [xLabelFunction]="formatXAxisValue.bind(this)"></ngx-line-chart></div>
	</mat-grid-tile>
	<mat-grid-tile>
		<div style="width: 100%; height: 100%"><ngx-line-chart [dataSets]="DataSetUmidade" [xLabelFunction]="formatXAxisValue.bind(this)"></ngx-line-chart></div>
	</mat-grid-tile>
</mat-grid-list>