mat-grid-tile button {
    width: 100%;
    height: 100%;
    /* max-width: 160px; */
    /* max-height: 160px; */
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

mat-grid-tile a {
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    text-align: center;
}

.align-r {
    text-align: right;
}

.half-w {
    width: 50%;
    display: inline-block;
}