button{
	width: 100%;
	height: 100%;

	max-width: 160px;
	max-height: 160px;

	text-align: center;

	white-space: normal;
	word-wrap: break-word;
}

mat-grid-tile a{
	width: 80%;
	height: 80%;

	text-align: center;
}

.myFlex{
    display: flex;
}

.flexItem{
    flex: 1 1 auto;
}

#safrasTable{
	width: 100%;
}

.mat-table th{
    text-align: center;
}

.mat-table{
    text-align: center;
}