<h1 *ngIf="Prop != undefine">
	{{Prop.nome}}
</h1>

<mat-grid-list cols="4">
	<mat-grid-tile>
		<app-gauge 
			[value]="valueX" 
			[label]="'Temperatura'"
			[appendText]="'°C'"
			[min]="-30"
			[max]="100"
			style="width: 100%; height: 100%;">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="valueX" 
			[label]="'Temperatura do Solo'"
			[appendText]="'°C'"
			[min]="-30"
			[max]="100"
			style="width: 100%; height: 100%;">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="13" 
			[label]="'Umidade'"
			[appendText]="'g/Kg'"
			[min]="0"
			[max]="100"
			style="width: 100%; height: 100%;">
		</app-gauge>
	</mat-grid-tile>
	<mat-grid-tile>
		<app-gauge 
			[value]="12" 
			[label]="'Umidade do Solo'"
			[appendText]="'g/Kg'"
			[min]="0"
			[max]="100"
			style="width: 100%; height: 100%;">
		</app-gauge>
	</mat-grid-tile>
</mat-grid-list> 
 
<!-- 
	<div style="width: 25%; height: 250px">
	<app-gauge [value]="valueX" [label]="'Temperatura'" [appendText]="'°C'" style="width: 100%; height: 100%;">
	</app-gauge>
</div> 
-->


<app-buttongrid [data]="options"></app-buttongrid>