<div class="myFlex">

  <span class="spacer"></span>

  <mat-card class="form-holder">
    <form (ngSubmit)="register()" class="myForm align-r" #registerForm="ngForm">
      <div class="fullW-field" *ngIf="message !== ''">
        {{message}}
      </div>
      <mat-form-field class="fullW-field">
        <input matInput placeholder="Nome" type="text" [(ngModel)]="registerData.nome" name="nome" required>
      </mat-form-field>
      <!-- <mat-form-field class="fullW-field">
        <p>TODO upload KML</p>
      </mat-form-field> -->
      <mat-form-field class="fullW-field">
        <input matInput placeholder="Latitude" type="number" [(ngModel)]="registerData.loc.y" name="y" required>
      </mat-form-field>
      <mat-form-field class="fullW-field">
        <input matInput placeholder="Longitude" type="number" [(ngModel)]="registerData.loc.x" name="x" required>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">Registrar Talhão!</button>
    </form>
  </mat-card>

  <span class="spacer"></span>

</div>