<h1 mat-dialog-title>Estado Fenológico</h1>
<div mat-dialog-content>
  <form (ngSubmit)="register()" class="myForm align-r" #registerForm="ngForm">

    <mat-form-field class="fullW-field">
      <input matInput [matDatepicker]="myDatepicker" placeholder="Data" type="text" [(ngModel)]="registerData.date"
        name="dataini" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="fullW-field" style="flex-direction: row-reverse;">
      <mat-select placeholder="Estado Fenológico" [(ngModel)]="registerData.estado_cultivar_id" name="estadofen" required>
        <mat-option *ngFor="let item of estado_fen" [value]="item.id">
          {{item.sigla}} - {{item.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions class="align-r">
  <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid" (click)="register()">Registrar Estado Fenológico!</button>
</div>