<div style="text-align: right; margin-bottom: 10px">
	<button mat-raised-button color="primary">Adicionar Propriedade</button>
</div>

<mat-accordion>
	<mat-expansion-panel *ngFor="let prop of propriedades; let i = index" [attr.data-index]="i">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{prop.name}}
			</mat-panel-title>
			<mat-panel-description>
			</mat-panel-description>
		</mat-expansion-panel-header>

		Descrição
		<a mat-flat-button [routerLink]="['/proprural', prop.id]">Detalhes</a>
	</mat-expansion-panel>

</mat-accordion>