/* You can add global styles to this file, and also import other style files */

/* Tema */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Geral */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
a { text-decoration: none; }
a:-webkit-any-link{ color: inherit; }