<div style="text-align: right; margin-bottom: 10px">
	<button mat-raised-button color="primary">Adicionar Sensor</button>
</div>

<mat-accordion>
	<mat-expansion-panel *ngFor="let sen of sensores; let i = index" [attr.data-index]="i">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Sensor #{{i}}
			</mat-panel-title>
			<mat-panel-description>
				Lat: {{sen.lat}}, Lon: {{sen.lon}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<b>Temperatura:</b> 21
		<br>
		<b>Temperatura do Solo:</b> 19
		<br>
		<b>Umidade:</b> 20
		<br>
		<b>Umidade do Solo:</b> 23
	</mat-expansion-panel>

</mat-accordion>